.fixNav{
    background-color:#FFE4E1;
    height:1.333333rem;
    ul{
        display:flex;
        justify-content: space-between;     
        li{
            flex:1;
            color:#FF6A6A;
            text-align: center;
            padding-top:0.135rem;
            i{
                display:block;
                height:0.534rem;
                font-size:0.655rem;
                margin-bottom:0.123rem;
            }
            span{
                display:block;
                font-size:0.355rem;
            }
        }
    }
    .fixActive{
        color:#fff;
        background-color:#FF6A6A;
    }
}


