.liHeader{
    height:1.2rem;
    background-color:#FFE4E1;
    overflow:hidden;
    line-height:1.2rem;
    padding-left:0.533333rem;
    text-align:center;
    position:relative;
    span{
        display:inline-block;
        color:#fff;
    }
}


.city{
    position:absolute;
    left:0.533333rem;
}
.logo{
    display:inline-block;
    padding-top:0.266667rem;
    width:2.4rem;

}






